main {
    padding: 16px;
}
body{
    padding: 0px;
    margin: 0px;
}
footer{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #93D94E;
}
img{
    height: 200px;
}
#Headliner {
    color: rgb(0, 133, 111);

}
#Headliner:hover {
    font-size: 40px;
    transition: font-size 3s;
}
nav{
    border: 1px solid black;
    padding: 16px;
    background-color: orange;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

a{
    color: green;
}

a:hover {
    color: #60bf81;
    font-size: 24px;
    transition: font-size 4s;
}
h1{
    color: rgb(0, 133, 111);
}
tr:nth-child(even) {
    background-color: rgba(187, 187, 187, 0.445);
  }
.perspective {
        perspective: 500px;
      }

      .rotate {
        transition: transform 1s ease;
        &:hover {
          transform: rotateY(-40deg);
        }
      }

.perspectives {
        perspective: 500px;
      }

      .counterrotate {
        transition: transform 1s ease;
        &:hover {
          transform: rotateY(40deg);
        }
      }
.slideright{
    transition: transform 1s ease;
    &:hover {
        transform: translate(60px);
    }
}
.rotated{
    transition: transform 3s ease;
    &:hover {
        transform: rotateY(1080deg) rotate(720deg);
    }
}
.dizzy{
        animation: rotation 4s infinite linear;
    }

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    }
